extends layout 

block content 
    div(class='container')
        h1(class='text-center')=title

        if (!user)
            h2 How the fuck are you here?
        else 
            if errors 
                div(class='card border-danger')
                    div(class='card-header bg-danger') Error
                    div(class='card-body')
                        h5(class='card-title') User Update Failed 
                        for error in errors 
                            li(class='card-text')!= error.msg
            h2(class=text-center) You wanna Admin? Just say the magic word.
            form(method='POST')
                div(class='row mb-3').form-group
                    label(for='magicword' class="col-form-label") Type in the magic word.
                    input#magicword.form-control(type='text' name='magicword' placeholder='Password' required)
                button.btn.btn-primary(type='submit') Submit